@import "../colors";

@keyframes roster-item-appear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
}

$color-bg-me: #2ecc71;

.roster-item {
    & {
        border-radius: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        
        // Bound to roster category title.
        padding: 6px 6px;
        
        font-size: 17px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        animation: roster-item-appear 0.2s ease;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    &:hover {
        background-color: $color-dark-contrast-light;
        color: #fff !important;
    }

    &.me {
        & {
            background-color: $color-bg-me;
        }

        > .avatar, .placeholder-avatar {
            background-color: $color-bg-me;
        }
    }

    &:not(.me) {
        color: #bbb;
    }

    > .info-wrapper {
        & {
            margin-left: 5px;
        }
    }

    > .avatar {

    }

    > .avatar, .placeholder-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-dark-contrast-light;
    }
}
