.roster-category {
    &:not(:first-child) {
        margin-top: 10px;
    }

    > .title {
        // Bound to roster item.
        padding: 0 6px;

        margin-bottom: 10px;
        text-transform: uppercase;
        opacity: 0.5;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}
