@import "../colors";

.chat-header {
    & {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
        padding: 15px 20px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $color-barely;
    }

    > .channel-title {
        user-select: text;
    }

    > .channel-topic {
        opacity: 0.7;
        font-size: 14px;
        user-select: text;
    }
}
