@import "../lib/colors";

.chat-message {
    & {
        padding: 13px 15px;
        border-radius: 4px;
        background-color: $color-dark-contrast-lighter;
        opacity: 0.4;
        color: #aaa;
        animation: message-appear 0.2s ease;
        word-wrap: break-word;
        position: relative;
    }

    &:not(:first-child) {
        margin-top: 10px;
    }

    &.sent {
        opacity: 1;
    }

    > .indicator {
        width: 10px;
        height: 10px;
        background-color: red;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 50%;
    }

    > .header {
        > .author-name {
            font-weight: bolder;
            font-size: 11px;
            margin-bottom: 3px;
            opacity: 0.5;
            text-transform: uppercase;
        }
    }

    > .text {
        //
    }
}
