@import "../colors";
@import "../templates";
@import "../animations";

.chat-composer {
    & {
        @include flex-center;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
    }

    > .message-wrapper {
        & {
            @include box-shadow-std;
            display: flex;
            align-items: stretch;
            justify-content: center;
            border-radius: 20px;
            margin-left: 20px;
            position: relative;
            background-color: $color-white;
            width: 100%;
            box-sizing: border-box;
            color: $color-neon;
            font-size: 17px;
            animation: expand 0.8s ease;
        }

        &:focus-within {
            //
        }

        &.shaking {
            animation: shake 2 0.09s ease;
        }

        &.disabled {
            & {
                cursor: not-allowed;
                background-color: #444;
                border-style: solid;
                opacity: 0.6;
            }

            > * {
                cursor: inherit !important;
            }
        }

        > .padding-wrap {
            & {
                width: 100%;
                padding: 14px 20px;
            }

            > .add {
                @include flex-center;
                position: absolute;
                box-shadow: 0 0 20px 0 $color-purple-slight;
                border-radius: 50%;
                color: #fff;
                width: 35px;
                height: 35px;
                background-color: $color-purple-slight;
                cursor: pointer;
                left: 0;
                top: 10px;
                transform: translateX(-50%);
            }
    
            > .input {
                & {
                    width: 100%;
                    padding-left: 12px;
    
                    // Hard-code starting height for textarea (must match send arrow's height).
                    height: 26px;
    
                    // Disable resize, as will be handled by JS.
                    resize: none;
    
                    max-height: 100px;
                    margin: 0;
                    background: none;
                    border: none;
                    font-size: inherit;
                    color: inherit;
                    margin-right: 20px;
                    font-family: inherit !important;
                }
    
                &.trans-exit-done {
                    opacity: 1;
                }
            }

            > .input::placeholder {
                color: lighten($color-neon, 40%);
            }
        }

        > .send {
            & {
                @include flex-center;
                cursor: pointer;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 3px 15px;
                color: $color-white;
                transition: transform 0.15s ease;
                background-color: $color-purple-slight;
                clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
                padding: 0 25px;
            }

            > svg {
                transform: translate(0, 1px);
            }
        }
    }
}
