.chat-container {
    & {
        padding: 20px;
        padding-bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: -webkit-fill-available;
    }

    > .loader, > .beginning-of-history {
        margin-bottom: 20px;
    }

    > .loader {
        margin-top: 0;
    }

    > .beginning-of-history {
        text-align: center;
        width: 100%;
        color: #555;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }
}
