@import "../lib/utils";

/* Used by Message and Notice */
@keyframes message-appear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes extra-status-appear {
    from {
        opacity: 0;
    }
}

.chat {
    & {
        display: grid;
        grid-template-rows: auto 1fr auto;
        background-color: #343434;
        color: #fff;
    }

    > .header {
        & {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 10px;
            border-bottom: 1px solid $color-dark-contrast-dark;
            padding: 15px 20px;
            align-items: center;
            justify-content: center;
        }

        > .channel-title {
            /* TODO */
        }

        > .channel-topic {
            opacity: 0.5;
            font-size: 14px;
        }
    }

    > .messages {
        & {
            padding: 20px;
            padding-bottom: 0;
            overflow: auto;
            max-height: -webkit-fill-available;
        }

        > .loader {
            margin-top: 0;
            margin-bottom: 20px;
        }

        > .beginning-of-history {
            margin-bottom: 20px;
            text-align: center;
            width: 100%;
            color: #555;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    > .input {
        & {
            padding: 20px;
            padding-bottom: 0;
            position: relative;
        }

        > .message-wrapper {
            & {
                display: grid;
                grid-template-columns: 1fr auto;
                border: 2px dashed $color-dark-contrast-dark;
                width: 100%;
                box-sizing: border-box;
                background: none;
                color: #aaa;
                padding: 14px 20px;
                border-radius: 4px;
                font-size: 17px;
                transition: border-color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
            }

            &:focus-within {
                & {
                    border-color: #444;
                    border-style: solid;
                    /* box-shadow: 0 5px 16px 0px #2e2e2e; */
                    background-color: #444;
                }

                > .send {
                    background-color: #333;
                }
            }

            &:disabled {
                cursor: not-allowed;
                background-color: #444;
                border-style: solid;
                opacity: 0.6;
            }

            > .message {
                & {
                    background: none;
                    border: none;
                    font-size: inherit;
                    color: inherit;
                }

                &.trans-exit-done {
                    opacity: 1;
                }
            }

            > .send {
                & {
                    cursor: pointer;
                    background-color: #404040;
                    padding: 3px 15px;
                    border-radius: 6px;
                    font-size: 17px;
                    color: #999;
                    opacity: 0.8;
                    transition: transform 0.15s ease;
                }

                > svg {
                    transform: translate(0, 1px);
                }

                &:hover {
                    transform: translate(4px);
                    opacity: 1;
                }
            }
        }

        > .extra {
            & {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                align-items: center;
                font-size: 13px;
                padding: 13px 5px;
                color: #777;
            }

            > .typing {
                /* TODO */
            }

            > .status {
                text-align: right;
                animation: extra-status-appear 0.2s ease;
            }
        }
    }
}
