@import "../colors";

.chat-message {
    & {
        padding: 13px 15px;
        border-radius: 4px;
        background-color: $color-dark-contrast-lighter;
        opacity: 0.4;
        color: #aaa;
        animation: message-appear 0.2s ease;
        word-wrap: break-word;
        position: relative;
    }

    &:not(:first-child) {
        margin-top: 10px;
    }

    &.sent {
        opacity: 1;
    }

    // Customize the Tooltip.
    > .tooltip-container {
        & {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            
            // Allows triggering of hover on tooltip.
            z-index: 1;
        }

        > .indicator {
            //
        }
    }

    > .header {
        > .author-name {
            font-weight: bolder;
            font-size: 11px;
            margin-bottom: 3px;
            opacity: 0.5;
            text-transform: uppercase;
            user-select: text;
        }
    }

    > .text {
        user-select: text;
    }
}
