.user-mention {
    & {
        display: inline-block;
        background-color: #6161c9cc;
        color: #fff;
        padding: 0 4px;
        cursor: pointer;
        border-radius: 3px;
        user-select: text;
    }

    &:hover {
        background-color: #6161c9;
    }
}
