@import "../lib/colors";

.status-bar {
    & {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 6px !important;
        grid-column: 1 / 4;
        background-color: #252525;
        color: #888;
        border-radius: 3px;
        font-size: 14px;
        border: 1px solid $border-dark;
    }

    > div {
        &.right,
        &.left {
            display: flex;
        }

        &.right {
            justify-content: flex-end;
            align-items: center;
        }
    }
}
