@import "../colors";

.status-bar {
    & {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3px 6px;
        background-color: $color-white;
        border-radius: 20px;
        font-size: 14px;
        border: 1px solid $color-barely;
        margin: 20px;
        margin-left: 40px;
        margin-top: 10px;
    }

    > div {
        &.right,
        &.left {
            display: flex;
            align-items: center;
        }

        &.right {
            justify-content: flex-end;
        }
    }
}
