@import "../colors.scss";

$border-radius-transform: 10px;

.sidebar-item {
    & {
        position: relative;
        padding: 0 11px;
    }

    &[data-active='true'] {
        > .item-wrap {
            > .active-indicator {
                background-color: $color-white;
            }

            > svg {
                color: $color-white;
                background-color: $color-purple-dim;
                border-radius: $border-radius-transform;
            }
        }
    }

    .item-wrap {
        & {
            //
        }

        > .active-indicator {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: transparent;
            width: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        > svg {
            & {
                transition: background-color 0.2s, border-radius 0.3s;
                cursor: pointer;
                padding: 12px;
                border-radius: 45%;
                font-size: 20px;
                color: $color-dark-light;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            &:hover {
                background-color: $color-purple-dim;
                color: $color-white;
                border-radius: $border-radius-transform;
            }
        }
    }
}
