@import "../colors";

.slim-button {
    & {
        color: #000;
        display: inline;
        padding: 2px 20px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid $color-neon;
    }

    &[data-main="true"] {
        color: #fff;
        background-color: $color-purple;
    }
}
