@import "../colors";
@import "../animations";

$margin: 8px;

.tooltip-container {
    & {
        position: relative;
        display: inline-block;
    }

    > .tooltip {
        & {
            z-index: 2;
            color: $color-white;
            opacity: 0;
            position: absolute;
            background-color: #191919;
            padding: 5px 10px;
            border-radius: 3px;
            text-align: center;
            max-width: 250px;
            min-width: 70px;
            animation: appear-top $appear-anim-time ease;
            white-space: nowrap;
            font-size: 14px;
            border: 1px solid $border-dark;
        }
        
        &.trans-enter,
        &.trans-enter-done {
            opacity: 1;
        }

        &.trans-exit {
            transition: opacity $appear-anim-time ease;
            opacity: 0;
        }

        &.trans-exit-done {
            display: none;
        }

        &[data-position='top'] {
            bottom: 100%;
            margin-bottom: $margin;
        }

        &[data-position='left'],
        &[data-position='right'] {
            top: 50%;
            transform: translateY(-50%);
        }

        &[data-position='left'] {
            animation-name: appear-left;
            right: 0%;
            margin-right: $margin;
            transform: translate(-100%, -50%);
        }
        
        &[data-position='right'] {
            // TODO
            // animation-name: appear-right;
            left: 100%;
            margin-left: $margin;
        }
    }
}
