.auto-completer {
    & {
        position: absolute;
        bottom: calc(100% - 10px);
        width: calc(100% - 40px);
        background-color: #222;
        left: 0;
        opacity: 0.4;
        box-sizing: border-box;
        padding: 13px;
        margin: 0 20px;
        border-radius: 3px;
    }

    > .option {
        & {
            padding: 10px;
            border-radius: 3px;
            border-bottom: 1px solid transparent;
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:hover,
        &:focus {
            border-bottom-color: #202020;
            background-color: #333;
            opacity: 1;
        }
    }
}