@import "utils";

@keyframes message-appear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
    }
}

.chat-message {
    & {
        padding: 13px 15px;
        border-radius: 4px;
        background-color: $color-dark-contrast-lighter;
        opacity: 0.4;
        color: #aaa;
        animation: message-appear 0.2s ease;
    }

    &:not(:first-child) {
        margin-top: 10px;
    }

    &.sent {
        opacity: 1;
    }

    > .header {
        > .author-name {
            font-weight: bolder;
            font-size: 11px;
            margin-bottom: 3px;
            opacity: 0.5;
            text-transform: uppercase;
        }
    }
}