// Re-design.
$color-gray: #f2f3f9;
$color-neon: #525f7f;
$color-neon-dark: #475371;
$color-purple: #6851d8;
$color-purple-slight: #9f7cfa;
$color-purple-dim: #624dca;
$color-purple-inactive: #a8a8ff;
$color-slim: #bcc1cb;
$color-black: #252525;
$color-white: #ffffff;
$color-barely: #e8e8e8;
$color-black: #000;

// Basic colors.
$color-dark-contrast-dark: #292929;
$color-dark: #303030;
$color-dark-contrast-light: #393939;
$color-dark-contrast-lighter: #414141;
$color-notify-red: #ff4141;

// Alerts.
$color-success: #27ae60;
$color-warn: #f39c12;
$color-error: #e74c3c;

// Explorer.
$explorer-separator: #292929;

// Misc.
$border-dark: #191919;
