// Basic colors.
$color-dark-contrast-dark: #292929;
$color-dark: #303030;
$color-dark-contrast-light: #393939;
$color-dark-contrast-lighter: #414141;
$color-notify-red: #ff4141;

// Alerts.
$color-success: #27ae60;
$color-warn: #f39c12;
$color-error: #e74c3c;

// Explorer.
$explorer-separator: #292929;

// Misc.
$border-dark: #191919;
