@import "utils";

.handle {
    & {
        padding: 6px 12px;
        -webkit-app-region: drag;
        background-color: #2a2a2a;
        color: #eee;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-dark-contrast-dark;
    }

    > .title {
        padding: 6px 12px; /* Same as button */
    }

    > .buttons {
        > .button-wrapper {
            > .button {
                & {
                    -webkit-app-region: no-drag;
                    cursor: pointer;
                    padding: 6px 12px; /* Same as title */
                    opacity: 0.4;
                }
    
                &:hover {
                    opacity: 1;
                    background-color: $color-dark-contrast-lighter;
                }
            }
        }
    }
}