.modal {
    & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 450px;
        background-color: #353535;
        border-radius: 4px;
    }

    > div {
        padding: 20px;
    }

    > .header {
        & {
            padding-bottom: 0;
        }

        > .title {
            font-size: 12px;
            color: #aaa;
            text-transform: uppercase;
        }
    }

    > .content {
        padding: 40px 20px;
        text-align: center;
        color: #eee;
        font-size: 17px;
    }

    > .options {
        & {
            background-color: #2e2e2e;
            padding: 25px;
            text-align: right;
        }

        > .close {
            width: 100%;
            padding: 13px;
            background-color: #27ae60;
            color: #fff;
            border: none;
            border-bottom: 2px solid #196e3c;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
    box-sizing: border-box;
}