.notice-message {
    & {
        width: 100%;
        color: #fff;
        padding: 6px 10px;
        border-radius: 3px;
        font-size: 16px;
        background-color: #27ae60;
        box-sizing: border-box;
        text-align: center;
        animation: message-appear 0.2s ease;
    }

    &:not(:first-child) {
        margin-top: 15px;
    }
}