@import "utils";

@keyframes rooster-item-appear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
}

.rooster-item {
    & {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 5px 11px; /* Bound to rooster category title */
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        animation: rooster-item-appear 0.2s ease;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    &:hover {
        background-color: $color-dark-contrast-light;
        color: #fff !important;
    }

    &.me {
        background: #2ecc71;
    }

    &:not(.me) {
        color: #bbb;
    }

    > .avatar {
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }
}