.roster-category {
    &:not(:first-child) {
        margin-top: 10px;
    }

    > .title {
        padding: 0 11px; /* Bound to rooster item */
        margin-bottom: 10px;
        text-transform: uppercase;
        opacity: 0.5;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}