@import "../lib/colors";

.user-bar {
    & {
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        color: #aaa;
        border-top: 1px solid $explorer-separator;
    }

    > .avatar {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: #444;
        margin-right: 10px;
    }

    > .info {
        & {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        > .name {
            color: #aaa;
        }

        > .status {
            margin-top: 3px;
        }
    }

    > .actions {
        > .action {
            &:not(:last-child) {
                margin-right: 3px;
            }
        }
    }
}
